common_static/css/.*
common_static/css/fonts/.*
common_static/img/.*
common_static/js/.*
common_static/js/highcharts/.*
common_templates/.*
app_algas/.*
app_algas/templates/.*
app_dashboard/.*
app_dashboard/templates/.*
app_general/.*
app_general/templates/.*
app_larvarios/.*
app_larvarios/templates/.*
app_maduracion/.*
app_maduracion/templates/.*
app_reportes/.*
app_reportes/templates/.*



