{% extends "base-report.html" %}

{% block content %}	
	<br>
	<h3>VALORES PROMEDIADOS POR SALA</h3>
	<hr>
	<br>
	<table id="datatable" width="100%">
		<thead>
			<tr>
				<th></th>
				<th>pH</th>
				<th>Temperatura</th>
				<th>Oxígeno</th>
				<th>Salinidad</th>
			</tr>
		</thead>
		<tbody>
			{% for dict in object_list %}
			<tr>
				<th>{{ dict.sala__modulo__nombre }}, {{ dict.sala__nombre }}</th>
				<td>{{ dict.PH|floatformat }}</td>
				<td>{{ dict.TEMP|floatformat }}</td>
				<td>{{ dict.OXI|floatformat }}</td>
				<td>{{ dict.SAL|floatformat }}</td>				
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}