{% extends "base.html" %}

<!-- Para definir en activo el link en el menu lateral-->
{% block active_maduracion %}active{% endblock %}

{% block description_page %}
	Departamento de Maduración
{% endblock %}

{% block collaps_title1 %}Maduración{% endblock %}
{% block collaps_content1 %}
<div class="container">
	<div class="row">
		<div class="col m12 s12 l12">
			<table class="bordered responsive-table">
				<tbody>
					{% for modulo in modulos %}
					<tr>
						<th><h6><strong>{{ modulo.nombre }}</strong></h6></th>

						{% for sala in modulo.sala_set.all %}
						<td>
							<a class="btn btn-sala" href="/maduracion/sala/{{ sala.id }}/">
								<i class="material-icons left">toc</i>
								{{ sala.nombre }}
							</a>
						</td>
						{% endfor %}
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}

