{% extends "base-core.html" %}

{% block active_larvario %}active{% endblock %}
{% block description_page %} <strong>{{ sala }}</strong>: Parámetros de agua{% endblock %}
{% block content_page %}
	<!-- Inicio del control Tabs -->
	<div class="row">
		<div class="col s12">
			<ul class="tabs tab-demo z-depth-1 tabs-fixed-width">
				<li class="tab col s3"><a href="#tabA">Registro de parámetros de agua</a></li>
				<li class="tab col s3"><a href="#tabB">Parámetros registrados</a></li>
			</ul>
		</div>

		<div id="tabA" class="col s12 m8 l6">			
			<form action="/larvarios/parametros-agua/guardar/" method="post" class="card-panel" id="form-params-agua" data-source="params-ciclos">
				{% csrf_token %}
				
				{{ form }}

				<div class="row">
					<div class="input-field col m8 s12 l6">
						<input type="submit" value="GUARDAR" class="waves-effect waves-light btn btn-ajax">
					</div>
				</div>		
				<br>
			</form>			
		</div>

		<div id="tabB" class="col s12">
			<br>
			 Datos de: 
            <a href="#" class="params-larva-filtro" data-value="hoy" data-idsala="{{ id }}">Hoy</a> -  
            <a href="#" class="params-larva-filtro" data-value="mes" data-idsala="{{ id }}">Hace 30 días</a>
            <hr class="style-one">
            Desde: <input type="date" class="standard params-larva-desde"> 
            Hasta: <input type="date" class="standard params-larva-hasta"> 
            <a href="#" class="params-larva-filtro" data-value="rango" data-idsala="{{ id }}">Filtrar</a>
            <hr class="style-one">

			<div id="grafico-params-agua" class="col l12 grafico"></div>

			<table id="tabla-params-agua-larvarios">
				<thead>
					<tr>
						<th>Fecha</th>
						<th>pH</th>
						<th>Temp.</th>
						<th>Oxigeno</th>
						<th>Salinidad</th>
					</tr>
				</thead>

				<tbody id="datos-parametros">
					{% for dato in datos_params %}
					<tr>
						<td>{{ dato.fecha_ingreso }}</td>
						<td>{{ dato.ph }}</td>
						<td>{{ dato.temperatura }}</td>
						<td>{{ dato.oxigeno }}</td>
						<td>{{ dato.salinidad }}</td>
					</tr>					
					{% endfor %}
				</tbody>
			</table>
			<br>
		</div>
	</div>
	<!-- Fin del control Tabs -->
	
{% endblock %}