{% extends "base-core.html" %}

{% comment %}
    BLOQUES EN BASE-CORE
    ----
    block active_larvario
    block active_algas
    block active_maduracion

    block title_page
    block description_page
    block content_page


    BLOQUES EN BASE
    ----
    block collaps_title1 -> collaps_content1


{% endcomment %}

{% block content_page %}
    <ul class="collapsible" data-collapsible="accordion">
        <li>
            <div class="collapsible-header active"><i class="material-icons">mode_edit</i>{% block collaps_title1 %}{% endblock %}</div>
            <div class="collapsible-body">{% block collaps_content1 %}{% endblock %}</div>
        </li>

        <!-- Microbiologia: Para todos los departamentos -->
        <li>
            <div class="collapsible-header"><i class="material-icons">dialpad</i>Microbiología</div>
            <div class="collapsible-body">
                <div class="container">

                    <!-- Inicio del control Tabs -->
                    <div class="row">
                        <div class="col s12">
                            <ul class="tabs tab-demo z-depth-1 tabs-fixed-width">
                                <li class="tab col s3"><a class="active" href="#tab1">Registrar análisis</a></li>
                                <li class="tab col s3"><a href="#tab2">Análisis registrados</a></li>
                            </ul>
                        </div>

                        <div id="tab1" class="col s12">

                            <!-- Formulario para registrar analisis microbiologicos -->
                            
                            <form action="/general/guardar-microbiologia/" method="post" id="form-microbiologia" class="card-panel hoverable">
                                
                                {% csrf_token %}
                                {% for field in form_micro %}
                                    <div class="row">
                                        <div class="input-field col s12 m6">
                                            {{ field }}

                                            {% if field.name != 'departamento' %}
                                                {{ field.label_tag }}
                                            {% endif %}
                                        </div>                  
                                    </div>
                                {% endfor %}
                                
                                <input type="submit" class="waves-effect waves-light btn btn-ajax" value="Guardar">                                              
                                <br><br>
                            </form>                 
                        </div>

                        <div id="tab2" class="col s12">

                            <!-- Tabla con informacion de los parametros registrados -->              
                            <br>
                            <table class="datagridview display">
                                <thead>
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Fuente</th>
                                        <th>UFC/ml</th>
                                    </tr>
                                </thead>

                                <tbody id="tbody-data">
                                    {% for dato in datos_micro %}
                                    <tr>
                                        <td>{{ dato.fecha }}</td>
                                        <td>{{ dato.origen_agua.nombre }}</td>
                                        <td>{{ dato.ufc }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <br>

                        </div>
                    </div>
                    <!-- Fin del control Tabs -->

                </div>
            </div>                           
        </li>

        <!-- Parametros de agua: Para todos los departamentos -->
        <li>
            <div class="collapsible-header"><i class="material-icons">dialpad</i>Parámetros de agua</div>
            <div class="collapsible-body">
                <div class="container">

                    <!-- Inicio del control Tabs -->
                    <div class="row">
                        <div class="col s12">
                            <ul class="tabs tab-demo z-depth-1 tabs-fixed-width">
                                <li class="tab col s3"><a class="active" href="#tabX">Registrar parámetros</a></li>
                                <li class="tab col s3"><a href="#tabY">Parámetros registrados</a></li>
                            </ul>
                        </div>

                        <div id="tabX" class="col s12">

                            <!-- Formulario para registrar analisis microbiologicos -->
                            
                            <form action="/general/parametros-agua/guardar/" method="post" id="form-params-agua" class="card-panel hoverable" data-source="params-general">
                                
                                {% csrf_token %}
                                {% for field in form_params %}
                                    <div class="row">
                                        <div class="input-field col s12 m6">
                                            {{ field }} 
                                            {% if field.name != 'departamento' %}
                                            {{ field.label_tag }}
                                            {% endif %}
                                        </div>                  
                                    </div>
                                {% endfor %}
                                
                                <input type="submit" class="waves-effect waves-light btn btn-ajax-pa" value="Guardar">                                              
                                <br><br>
                            </form>                 
                        </div>

                        <div id="tabY" class="col s12">

                            <br>
                            <input type="hidden" value="{{ depto }}" id="depto">
                            <select class="browser-default" id="cbo-fuente-agua">
                                <option value="">Seleccione la fuente de agua</option>
                                {% for dato in datos_origen_agua %}
                                <option value="{{ dato.id }}">{{ dato.nombre }}</option>
                                {% endfor %}                               
                            </select>
                            <hr class="style-one">
                            Datos de: 
                            <a href="#" class="params-algas-filtro" data-value="hoy">Hoy</a> -  
                            <a href="#" class="params-algas-filtro" data-value="mes">Hace 30 días</a> - 
                            <a href="#" class="params-algas-grafico">Mostrar gráfico</a>
                            <hr class="style-one">
                            Desde: <input type="date" class="standard params-algas-desde"> 
                            Hasta: <input type="date" class="standard params-algas-hasta"> 
                            <a href="#" class="params-algas-filtro" data-value="rango">Filtrar</a>
                            <hr class="style-one">

                            <div id="grafico-params-agua" style="display:none" class="col l12 grafico"></div>
              
                            <br>
                            <table id="tabla-params-agua-general">
                                <thead>
                                    <tr>
                                        <th>Fecha</th>                                        
                                        <th>pH</th>
                                        <th>Temp.</th>
                                        <th>Oxígeno</th>
                                        <th>Sal.</th>
                                    </tr>
                                </thead>

                                <tbody id="datos-parametros">
                                    <tr><td>Filtre por fuente de agua</td></tr>
                                </tbody>
                            </table>
                            <br>

                        </div>
                    </div>
                    <!-- Fin del control Tabs -->

                </div>
            </div>                           
        </li>
    </ul>
{% endblock %}